<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin login</title>
        <link rel="stylesheet" href="/static/css/admin_locked.css" />
    </head>
    <body>
        <div class="card">
            <div class="cardHeader">
                <h2>Admin: Login</h2>
                <p>Login to access the admin dashboard</p>
            </div>
            <input class="loginField" id="loginField" type="password" placeholder="login token" />
            <button class="loginButton" id="loginButton">Login</button>
        </div>
        <script src="/static/js/admin_locked.js"></script>
    </body>
</html>
