<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/background_download.css" />
    </head>
    <body>
        <h1>Download should start automatically in <span id="waitTime"></span></h1>
        <p>Click download to begin the download manually</p>
        <div id="download" class="enabled">DOWNLOAD</div>
        <a href="{{download_url}}" style="display: none">here</a>
        <script>
            var waitTimeValue = '{{wait_time_s}}';
        </script>
        <script src="/static/js/background_download.js"></script>
    </body>
</html>
